<!DOCTYPE html>

{% load staticfiles %} 

<html>

    <head>
        <title>About</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>
            This tutorial has been put together by Jasmine Casey. <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
		
        <div>
            <a href='/rango'>Index</a><br />
			<img src="{% static "31493420_731927453863297_1967665079692296192_n.jpg" %}"
			alt="my beautiful boyfriend" /> 
			<img src= "{{ MEDIA_URL }}cat.jpg" />
        </div>
    </body>
    
</html>